div h1 {
  color: red;
}
.hello {
  background-color: blue;
}
<<<<<<< Updated upstream
.imgWrapper {
    margin-top: -150px;
}

.borderRound {
    border-radius: 50%;
}
=======
>>>>>>> Stashed changes
